
.galery {
    width: 100%;
    text-align: center;
}

.thumbs {
    width: 100%;
    text-align: center;
}

.thumbs img, .largeImage {
    border: 1px solid gray;
    padding: 4px;
    background-color: white;
    cursor: pointer;
}

.thumbs img {
    margin-right: 6px;
    height: 120px;
    width: 120px;
}

.largeImage{
    max-height: 360px;
}