################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Day 2/Gallery/.vs/Gallery/v15/Server/sqlite3/db.lock
